<h1>Welcome</h1>

{{#each posts}}
  <div>
    Title: {{this.title}}
  </div>
  <div>
    URL: {{this.url}}
  </div>
  <div>
    Image: {{this.image}}
  </div>
  <div>
    Description: {{this.description}}
  </div>
  <div>
    Score: {{this.score}}
  </div>
{{/each}}